* {
    margin: 0;
    padding: 0
}


/*Componentes*/

a {
    text-decoration: none;
    color: #000;
}
.button-white{    
    background-color:rgba(255, 255, 255, 0.2);
    color:#55b2c8;
    font-weight:bold;
    border: 5px solid #55b2c8;
    padding:5px 25px;
    margin:2px 0px;
}
.button-green{    
    background-color:rgba(255, 255, 255, 0.2);
    color:#fff;
    font-weight:bold;
    border: 5px solid #fff;
    padding:5px 25px;
}
.label__black{
    color:#000;
    font-weight:bold;
}
.label__white{
    color:#fff;
    font-weight:bold;
}


.text__green::placeholder{
    color:#55b2c8;
    padding:0px 7px;
}
.text__green{    
    height: 33px;
    border:0.5px solid #b5afaf;
    border-radius:3px;
    margin:2px 0px;
}
.textarea__green::placeholder{
    color:#55b2c8;
    padding:0px 7px;
}
.textarea__green{    
    border:0.5px solid #b5afaf;
    border-radius:3px;
    margin:2px 0px;
}
/*Validation*/
.text__green:invalid{
    border:1px solid red;
}
input:invalid { 
    border: 2px solid red;
}

/*header*/

.header {
    padding: 10px 0px;
    background-image: url("../assets/img/wave-menu2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 121px;
    display: flex;
}
.header-home{
    padding: 10px 0px;
    background-color:#000;
    opacity:0.5;
    width: 100%;
    height: 121px;
    display: flex;
}

.header__logo {
    padding: 2% 0% 2% 2%;
    width: 10%;
}

.logo {
    width: 95px;
}

.menu {
    padding: 1%;
    width: 90%;
    float: right;
}

.menu__contacts {
    padding: 15px;
    float: right;
}

.menu__main {
    padding: 15px;
    float: left;
    position:relative;
}

.menu__main a,
.menu__contacts a {
    margin: 8px;
    font-weight:bold;
}
.menu__main--tag{
    padding:7px 15px;
    background-color:#000;
    opacity:0.5;
    color:#fff;
    border-radius:5px;
}
#menu__store--view{
    visibility: hidden;
}

#menu__contacts--email::before{
    content: url("../assets/img/icones/email3.png");
    vertical-align:-3px; 
    padding:0px 3px;  
}
#menu__contacts--fixo::before{
    content: url("../assets/img/icones/phone2.png");  
    vertical-align:-3px; 
    padding:0px 3px;  
}
#menu__contacts--celular1::before{
    content: url("../assets/img/icones/whatsapp2.png");   
    vertical-align:-3px; 
    padding:0px 3px;
}
#menu__contacts--celular2::before{
     content: url("../assets/img/icones/whatsapp2.png");   
    vertical-align:-3px; 
    padding:0px 3px;  
}

/*
.menu__main--store:hover + .menu__store,
.menu__main--store:hover + .menu__store--view
{
    visibility: visible !important;
    color:yellow;
}

.menu__main--store:hover + .menu__store,
.menu__main--store:hover + .menu__store--view
{
    visibility: visible;
    color:yellow;
}
.menu__main--store:hover + .menu__store,
.menu__main--store:hover + .menu__store--view
{
    display:block !important;
    color:yellow;
}

.menu__main--store:hover + .menu__store,
.menu__main--store:hover + .menu__store--view
{
    display:block;
    color:yellow;
}


.menu__main--store:hover .menu__store,
.menu__main--store:hover .menu__store--view
{
    visibility: visible !important;
    color:yellow;
}

.menu__main--store:hover .menu__store,
.menu__main--store:hover .menu__store--view
{
    visibility: visible;
    color:yellow;
}
.menu__main--store:hover .menu__store,
.menu__main--store:hover .menu__store--view
{
    display:block !important;
    color:yellow;
}

.menu__main--store:hover .menu__store,
.menu__main--store:hover .menu__store--view
{
    display:block;
    color:yellow;
}


.menu__main--store:hover > .menu__store,
.menu__main--store:hover > .menu__store--view
{
    visibility: visible !important;
    color:yellow;
}

.menu__main--store:hover > .menu__store,
.menu__main--store:hover > .menu__store--view
{
    visibility: visible;
    color:yellow;
}
.menu__main--store:hover > .menu__store,
.menu__main--store:hover > .menu__store--view
{
    display:block !important;
    color:yellow;
}

.menu__main--store:hover > .menu__store,
.menu__main--store:hover > .menu__store--view
{
    display:block;
    color:yellow;
}



.menu__main--store:hover ~ .menu__store,
.menu__main--store:hover ~ .menu__store--view
{
    visibility: visible !important;
    color:yellow;
}

.menu__main--store:hover ~ .menu__store,
.menu__main--store:hover ~ .menu__store--view
{
    visibility: visible;
    color:yellow;
}
.menu__main--store:hover ~ .menu__store,
.menu__main--store:hover ~ .menu__store--view
{
    display:block !important;
    color:yellow;
}

.menu__main--store:hover ~ .menu__store,
.menu__main--store:hover ~ .menu__store--view
{
    display:block;
    color:yellow;
}*/
.menu__store{
    background-color:#55b2c8;
    opacity:025px;
    padding:17px 17px;
    position:absolute;
    top:20%;
    left:35%;
    display:grid;
    grid-template-columns:530px 250px;;
    grid-template-rows:35px auto;
    grid-gap:5px 10px;
    border-radius:5px;

}
/*fonte 0577ab
background-color: branco
titulo branco
borda laterais 0.5 757575
*/
.menu__store--nav{
    background-color:#fff;
    z-indez:-1;
    grid-column:1 / 2;
    grid-row:1 / 2;
    padding:10px 10px;
    display:grid;
    grid-template-columns:230px 128px 80px;
    grid-template-rows:auto;
    grid-gap:0px 0px;
}
.menu__store--nav a{
    font-weight:bold;    
}
.menu__store--nav-produto{
    grid-column:1 / 2;    
    grid-row: 1 / 2; ;
}
.menu__store--nav-acessorios{
    grid-column:2 / 3;    
    grid-row: 1 / 2; ;
}
.menu__store--nav-servicos{
    grid-column:3 / 4;    
    grid-row: 1 / 2; ;
}

.menu__store--options{
    padding:10px 15px;
    background-color:#fff;
    grid-column:1 / 2;    
    grid-row: 2 / 3;    
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto;
    grid-gap:10px 0px;        
}
.menu__store--produto{
    grid-column:1 / 2;    
    grid-row: 1 / 2; ;
}
.menu__store--acessorios{
    grid-column:2 / 3;    
    grid-row:1 / 2; 
}
.menu__store--servico{
    grid-column:3 / 4;    
    grid-row:1 / 2; 
}

.menu__store--produto li,
.menu__store--acessorios li,
.menu__store--servico li{
    padding:5px 0px;
}

.menu__store--options ul li{
    list-style-type:none;
}
.menu__store--image{    
    grid-column:2 / 3;
    grid-row: 1 / 3;
    width:250px;
    padding:20px 0px;
}

/*HOME*/


/*HOME CARROSSEL*/

.home {
    width: 100%;
}
/*
    piscina-carrossel1.jpg
    aquecedor-solar-up-1196x600.png
    spa.png
*/
.home__carrossel {
    height: 800px;
    background-image: url("../assets/img/carrossel/piscina-carrossel1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;    
    align-items: center;
    position:relative;
}

.home__carrossel h1{
    position:absolute;
    top:300px;
    left:310px;
    font-size:56px;
    color:#fff;
}
.home__carrossel--submit{
    position:absolute;    
    left:610px;
    top:410px;
}

.home__carrossel--items li{
     width:30px;
    height:30px;
    list-style-type:none;
    cursor:pointer;
}
#home__carrossel--piscina{
    position:absolute;
    top:500px;
    left:600px; 
    background-color:#fff;
    border-radius:50px;
    margin:0px 10px;
}/*
#home__carrossel--piscina:hover + .home__carrossel{
     background-image: url("../assets/img/carrossel/piscina-carrossel1.jpg");
      height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}*/
#home__carrossel--spa{
    position:absolute;
    top:500px;
    left:660px;
    background-color:#fff;
    border-radius:50px;
    margin:0px 10px;
}/*
#home__carrossel--spa:hover + .home__carrossel{
     background-image: url("../assets/img/carrossel/spa.png");  
      height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}*/
#home__carrossel--aquecedor{
    position:absolute;
    top:500px;
    left:720px;
    background-color:#fff;
    border-radius:50px;
    margin:0px 10px;
}/*
#home__carrossel--aquecedor:hover + .home__carrossel{
     background-image: url("assets/img/carrossel/aquecedor-solar-up-1196x600.png");  
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*HOME GALERY*/

.home__galery {
    padding-top: 5%;
    width: 100%;
    height: 1080px;
    grid-gap: 0px 0px;
    display: grid;
    grid-template-columns: auto, auto, auto, auto, auto, auto;
    background-image: url("../assets/img/produtos/azulejo_borda_piscina.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:aqua;
}

.image__one,
.image__two,
.image__three {
    margin: 0px;
    position: relative;
    text-align: center;
    height: 330px;
}

.image__one figurecaption {
    position: absolute;
    top: 265px;
    left: 325px;
}

.image__two figurecaption {
    position: absolute;
    top: 270px;
    left: 160px;
}

.image__three figurecaption {
    position: absolute;
    top: 265px;
    left: 285px;
}

.home__galery--image {
    padding: 3% 0% 0% 0%;
    width: 250px;
}
.home__galery--image:hover{
    width: 255px;
}
.home__galery--image:hover + figcaption{    
    color:#fff;
}
.image1,
.image6 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.image2,
.image7 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.image3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.image4 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.image5 {
    grid-column-start: 5;
    grid-column-end: 7;
}


/*HOME SUBSCRIPTION*/

.home__subscription {
    width: 100%;
    padding: 8% 0px;
    text-align: center;
    font-size: 14px;
}

.home__subscription h1 {
    font-size: 26px;
    color: #55b2c8;
}
.home__subscription h2 {
    font-weight:normal;
    font-size: 16px;
}
.form input[type=text],
.form input[type=email]{
    margin:0px -3px;
}
.home__subscription input[type=text],
form input[type=text] {
    width: 343px;
}

.home__subscription input[type=text]::placeholder,
.home__subscription input[type=text]:-ms-input-placeholder,
form input[type=text]::placeholder,
form input[type=text]:-ms-input-placeholder {
    color: #55b2c8;
}
/*
.home__subscription input[type=submit],
form input[type=submit] {
    width: 100px;
    height: 32px;
    font-size: 18px;
    background-color: #55b2c8;
    color: #fff;
}*/


/*HOME ORÃ‡AMENTO*/

.orcamento input[type=text] {
    width: 100%;
    height: 28px;
}

.orcamento {
    padding: 80px 90px;
    background-color: #55b2c8;
}

.orcamento h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    font-size:30px;
}

.orcamento__char--count {
    display: block;
    float: right;
}

.orcamento__bar--submit {
    float: right;
}

.orcamento__name {
    grid-area: name;
}

.orcamento__email {
    grid-area: email;
}

.orcamento__phone {
    grid-area: phone;
}

.orcamento__subjective {
    grid-area: subjective;
}

.orcamento__message {
    grid-area: message;
    width: 100%;
}

.orcamento__char {
    grid-area: char;
}

.orcamento__bar {
    grid-area: bar;
}

.orcamento__form {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-areas: 'name subjective subjective' 'email message message' 'phone message message' 'char char char' 'bar bar bar';
}

.home__accessories {
    padding: 5% 10%;
    background-color: #55b2c8;
}
.home__accessories--title h1{
    font-size:36px;
}
.home__accessories--title h1,
.home__accessories--title h3,
.home__accessories--title nav {
    color: #fff;
    padding: 0px 0px 15px 0px;
    text-align: center;
}

.home__accessories--title h3 {
    font-size: 22px;
    color:#21464f;
}

.home__accessories--image {
    width: 300px;
    height: 300px;
}

.home__accessories--menu {
    padding: 10px;
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    border-radius: 15px;
}

.home__accessories--menu a {
    margin-top: 5px;
    color: #fff;
}

.home__accessories--text {
    display: grid;
    grid-template-columns:250px 500px auto;
    grid-template-rows:auto auto;
    grid-gap:10px 10px;
    padding: 2% 3% 0% 0%;
    height: 200px;
    text-align:center;
}

.home__accessories--image {
    grid-column:1 / 2;
    grid-row:1 / 3;
    width: 30%;
    height: 100%;
}
.home__accessories--submit{
     grid-column:2 / 3;
    grid-row:2 / 3;
    height:22px;
    width:100px;
    margin:0px 40%;
}

.home__accessories--description {
    grid-column:2 / 4;
    grid-row:1 / 2;
    padding:25px 0px 0px 0px;
    width: 70%;
    height: 100%;
    color:#ffffff;    
    vertical-align:33px; 
}
.product__default--title{
    padding:8px 0px;
    color:#55b2c8;
}

.product__piscina--title {
    text-align: center;
}
/*home > acessorios > abas*/
/*#home__accessories--home-bicos-hidromassagem{

}*/
#home__accessories--container-capa-piscina,
#home__accessories--container-casa-maquinas,
#home__accessories--container-inox,
#home__accessories--container-cascata-fibra,
#home__accessories--container-refletores-led,
#home__accessories--container-bomba,
#home__accessories--container-filtro {
    display:none;
}
.home__accessories--menu-bicos-hidromassagem,
.home__accessories--menu-capa-piscina,
.home__accessories--menu-casa-maquinas,
.home__accessories--menu-inox,
.home__accessories--menu-cascata-fibra,
.home__accessories--menu-refletores-led ,
.home__accessories--menu-bomba,
.home__accessories--menu-filtro{ 
    padding:7px 13px;
}
.home__accessories--menu-bicos-hidromassagem:hover,
.home__accessories--menu-capa-piscina:hover,
.home__accessories--menu-casa-maquinas:hover,
.home__accessories--menu-inox:hover,
.home__accessories--menu-cascata-fibra:hover,
.home__accessories--menu-refletores-led:hover ,
.home__accessories--menu-bomba:hover,
.home__accessories--menu-filtro:hover{ 
    background-color:#fff;
    color:#21464f;
    border-radius:8px;
}



/*Product*/

.product__container {
    padding: 5%;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto auto;
    grid-gap:0px 30px;
}


/*Product Menu*/
.product__menu{
    grid-column:1 / 2;
    grid-row:1 / 2;
    border-right:1px solid #b5afaf;
}

.product__menu h2{
    color:#55b2c8;
}
.product__menu h3{
    color:#615e5e;
}
.product__menu a{
    color:#5c909c
}

.product__menu ul{
    padding:0px 15px;;
}
.product__menu ul li{
    list-style-type:none;
}
.product__menu--tipo,
.product__menu--acessorios,
.product__menu--acabamento{
    margin:5px 0px;
}
.product__menu--tipo h3,
.product__menu--acessorios h3,
.product__menu--acabamento h3{
    margin:5px 0px;
}

/*Product Default*/
.product__default{
    grid-column:2 / 3;
    grid-row:1 / 2;
}
.product__default--figure img{
    width:450px;
    border-radius:5px;
    outline-style: solid;
    outline-color: #757575;
    outline-width: 0.1px;
    outline-offset: 6px;
    margin:3px 0px 10px 0px;
    display:block;
}

.product__default--figure{
    color:#615e5e;
}



.product__item h3 {
    margin: 15px 5px;
}

.product__default--tipo-description {
    width: 90%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 15px 20px;
    padding: 10px;
}
.product__default--description{
    column-count:2;
}
.product__default--tipo-description figure {
    padding: :10px;
}
.product__default--tipo-description img{
    height:112px;
    border-radius:5px;
}
.product__default--description,
.product__default--projeto,
.product__default--tipos,
.product__default--modelos,
.product__default--instalation{
    padding:8px 8px;
}
.product__default--modelos,
.product__default--modelos figcaption{
    color:#615e5e;
}
.product__default--modelos figcaption{    
    text-align:center;
}


.product__default--tipos ul li,
.product__default--tipos h3{
    color:#615e5e;
}
.product__default--instalation,
.product__default--projeto{
    color:#615e5e;
}

.product__default--tipos ul{
    margin:0px 20px;
}

/*ul p figure*/

.product__item ul,
.product__item p,
.product__item figure {
    padding: 0 35px;
}


/*Contact*/

.contact {
    display: grid;
    grid-template-areas: auto auto;
    grid-gap: 15px 30px;
    width: 100%;
}

.contact__title {
    margin: 3% 12%;
    text-align: left;
    color: #55b2c8;
}

.contact__email {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contact__email--form {
    float: right;
    padding-left: 0px;
}

.contact__email--form input[type=text],
.contact__email--form textarea {
    margin: 4px;
    display: block;
    width: 500px;
    border-radius: 3px;
}
/*
.contact__email--form input[type=submit] {
    background-color: #fff;
    color: #55b2c8;
    font-weight: bolder;
    font-size: 20px;
    border: 6px solid #55b2c8;
}*/

.contact__address {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.contact__address--data {
    float: left;
    padding-right: 0px;
}

.contact__map {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align:center;
}

.contact__map--image{
    width:100%; 
    height:350px; 
    display:block;
    margin:20px 0px;
}


.contact__map--elements {
    padding: 0px 50px;
}
.contact__map--elements buttom{
    float:right;
    margin:0px 0px 50px 0px;
}


/*About*/

.about {
    padding: 58px 0px;
}

.about__description,
.about__mission,
.about__vision,
.about__values {
    padding: 39px 0px;
}

.about__description--title,
.about__mission--title,
.about__vision--title,
.about__values--title {
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about__description--figure,
.about__mission--figure,
.about__vision--figure,
.about__values--figure {
    font-size: 20px;
    display: flex;
    padding: 39px 50px;
}

.about__mission,
.about__values {
    background-color: #6e7575;
}

.about__description--figure figcaption,
.about__mission--figure figcaption,
.about__vision--figure figcaption,
.about__values--figure figcaption {
    font-size: 14px;
    padding: 20px 61px;
    font-family: Arial, Helvetica, sans-serif;
}

.about__description--figure img {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #757575;
    outline-width: 0.1px;
    outline-offset: 6px;
}

.about__mission--figure img {
    width: 20%;
    height: 20%;
}

.about__vision--figure img {
    width: 160%;
    height: 160%;
}

.about__values--figure img {
    width: 18%;
    height: 18%;
}

.about__mission--title {
    color: #9fdfdf;
}

.about__vision--title {
    color: #648787;
}

.about__values--title {
    color: #fff;
}

.about__mission--figure figcaption {
    color: #fff;
}

.about__vision--figure figcaption {
    color: #000;
}

.about__values--figure figcaption {
    color: #9fdfdf;
}


/*faq*/

.faq__topic--articles {
    border-radius: 8px;
}

.faq__topic article span,
.faq__piscina article span,
.faq__products article span,
.faq__services article span {
    font-weight: bold;
}

.faq__topic h2,
.faq__piscina h2,
.faq__products h2,
.faq__services h2 {
    font-size: 17px;
    margin-bottom: 12px;
    color: #55b2c8;
}

.faq__piscina,
.faq__products,
.faq__services {
    display: grid;
    grid-gap: 0px 15px;
    grid-column: auto auto auto;
}

.faq__piscina--articles1,
.faq__piscina--articles2,
.faq__piscina--articles3,
.faq__products--articles1,
.faq__products--articles2,
.faq__products--articles3,
.faq__services--articles1,
.faq__services--articles2,
.faq__services--articles3 {
    background-color: #eaeced;
    padding: 18px;
    border-radius: 5px;
}

.faq__piscina--articles1,
.faq__products--articles1,
.faq__services--articles1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.faq__piscina--articles2,
.faq__products--articles2,
.faq__services--articles2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.faq__piscina--articles3,
.faq__products--articles3,
.faq__services--articles3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.faq {
    margin: 20px 0px;
}

.faq__title {
    padding: 60px 48px;
    background-color: #eaeced;
    margin-bottom: 22px;
}

.faq__title h1 {
    margin-bottom: 18px;
    color: #55b2c8;
}

.faq__body {
    margin: 27px 27px;
    padding: 37px 37px;
    border-radius: 8px;
}

.faq__body--legend {
    font-size: 26px;
    font-weight: bold;
    color: #55b2c8;
    text-align: center;
}

.faq__topic--articles {
    padding: 18px;
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}

.faq__topic--articles {
    background-color: #eaeced;
}

.faq__topic--articles article,
.faq__piscina--articles1 article,
.faq__piscina--articles2 article,
.faq__piscina--articles3 article,
.faq__products--articles1 article,
.faq__products--articles2 article,
.faq__products--articles3 article,
.faq__services--articles1 article,
.faq__services--articles2 article,
.faq__services--articles3 article {
    margin: 0 15px 0 10px;
}

.faq__topic--title,
.faq__piscina--title,
.faq__products--title,
.faq__services--title {
    margin: 30px 0 30px 0px;
    color: #55b2c8;
}


/*Promotion*/

.promotion {
    padding: 16px 0px;
}

.promotion__banner--outline,
.promotion__title {
    margin: 20px 28px;
}

.promotion__one,
.promotion__two {
    margin: 20px 28px;
    padding: 20px 28px;
}

.promotion__subscription {
    margin: 20px 0px;
    padding: 80px 38px;
    text-align: center;
}

.promotion__banner--outline {
    border: 1px solid #757575;
    border-radius: 8px;
    padding: 14px;
}

.promotion__banner--base {
    background-color: #529bff;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.promotion__banner--image-tree,
.promotion__banner--image-sun {
    width: 20%;
    height: 20%;
}

.promotion__banner--title h1 {
    font-family: Arial, Aguafina Script, sans-serif;
    margin-top: 43px;
    font-size: 36px;
    color: #fff;
}

.promotion__banner--title h2 {
    margin-top: 15px;
}

.promotion__title {
    color: #529bff;
    text-align: center;
}

.promotion__one--sutitle,
.promotion__two--subtitle {
    color: #55b2c8;
}

.promotion__one--title,
.promotion__two--title {
    margin-top: 20px;
    color: #767676;
}

.promotion__subscription {
    background-color: #55b2c8;
    text-align: center;
}

.promotion__subscription--form-title {
    color: #fff;
    font-size: 36px;
}

.promotion__subscription--form-subtitle {
    font-weight: normal;
}

.promotion__subscription--form input[type="text"] {
    border: 0px;
    height: 32px;
    padding: 0px 5px;
}

.promotion__subscription--form input[type="text"]::placeholder {
    color: #55b2c8;
    font-size: 16px;
}
/*
.promotion__subscription--form input[type="submit"] {
    background-color: #fff;
    color: #55b2c8;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
}*/

.promotion__one--description input[type="submit"],
.promotion__two--description input[type="submit"] {
    width: 160px;
    height: 44px;
    margin: 15px 0px;
    padding: 5px 15px;
    background-color: #fff;
    border: 5px solid #529bff;
    color: #529bff;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 16px;
}

.promotion__one--image {
    width: 70%;
}

.promotion__two--image {
    width: 80%;
}

.promotion__one--image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.promotion__one--description {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.promotion__two--description {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.promotion__two--image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.promotion__one--body {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 10px 10px;
    justify-content: center;
}

.promotion__two--body {
    display: grid;
    grid-template-columns: auto 400px;
    grid-gap: 10px 10px;
    justify-content: space-evenly;
}

.promotion__one--description figcaption,
.promotion__two--description figcaption {
    padding: 35px 0px 0px 0px;
    font-size: 20px;
}


/*Store*/

.store {
    padding: 20px 0px 20px 20px;
    display: grid;
    grid-template-columns: 232px auto;
    grid-gap: 0px 20px;
}

.store__menu {
    margin-top:113px;
    background-color: #adebf9;
    padding: 0px 7px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 5px;
    height: 650px;
}

.store__products {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.store__pagination {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.store__menu--product,
.store__menu--accessories,
.store__menu--services {
    border: 0.5px solid #bdc5c5;
}

.store__menu--product li,
.store__menu--accessories li,
.store__menu--services li {
    list-style-type: none;
    cursor: pointer;
}
.store__menu--product a,
.store__menu--accessories a,
.store__menu--services a {
    color:#55b2c8;    
}
.store__menu--product a:hover,
.store__menu--accessories a:hover,
.store__menu--services a:hover {
    background-color:#adebf9;
    color:gray;    
    border: 0.5px solid #757575;
    padding:2px 5px;
    border-radius:5px;
}

.menu__item--contrast {
    color: #8e8e8e;
    font-weight: bold;
}

.menu__item--contrast ul {
    color: #000;
    font-weight: normal;
}

.store__menu--product-title,
.store__menu--accessories-title,
.store__menu--services-title {
    background-color: #d8f3fc;
    padding: 1px 7px;
    border-radius: 5px;
    color: #5e6061;;
    font-weight: bold;
}

.store__menu--product-sub-item,
.store__menu--accessories-sub-item {
    margin-left: 20px;
}

.store__menu--product,
.store__menu--accessories,
.store__menu--services {
    margin: 10px 0px;
    padding: 10px 7px;
    background-color: #d8f3fc;
    border-radius: 4px;
}

.store__menu--product-options,
.store__menu--accessories-options,
.store__menu--services-options {
    background-color: #d8f3fc;
    padding: 8px 8px;
    border-radius: 8px;
}


/*Store Products*/
.store__products--title{
    margin:63px 0px;
    text-align:center;
    color:#55b2c8;
    font-size:28px;
}
.store__products--subtitle{
    text-align:center;
    margin-bottom:37px;
    color:#55b2c8;
}
.store__products--articles {
    padding: 0px 40px 0px 20px;
    justify-content: space-between;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.store__products--articles article {
    padding: 0px 4px 3px 4px;
    width: 220px;
    height: 350px;
    border-radius: 5px;
    margin: 2px 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 190px auto auto;
}
.store__products--articles article:hover{
    border: 0.5px solid #7575756e;
    box-shadow:2px 3px #888;
}
.store__product--freight {
    margin-left:46%;
    padding:1px 0px;
    width:66px;
    height:45px;
    border:3px solid #55b2c8;
    font-size:14px;
    font-weight:bold;
    text-align:center;    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color:#55b2c8;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.store__product--discount {
    margin-left:59%;
    padding:1px 0px;
    width:48px;
    height:16px;
    border:3px solid #fe0505;
    font-size:14px;
    font-weight:bold;
    text-align:center;    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color:#fe0505;
    border-bottom-left-radius:8px;
}

.store__product--description {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.store__product--description img{
    width:98%;
}
.store__product--description figcaption{
    text-align:center;
    color:#528e9d;
}
.store__product--values-or-status{
    padding:8px 8px;
    text-align:center;
    font-weight:bold;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.store__product--details{
     grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.store__products--articles input[value="DETALHES"] {   
    background-color: #fff;    
    font-weight:bold;
    width: 93px;
    height: 24px;
    color: #55b2c8;
    border: 0px;
    visibility:hidden;
}
.store__products--articles article:hover input[value="DETALHES"]{   
    visibility:visible;
}

.store__products--articles input[value="COMPRAR"] {
    background-color: #55b2c8;    
    font-weight:bold;
    width: 121px;
    height: 26px;
    border-radius: 7px;
    color: #fff;
    border: 0px;    
    visibility:hidden;
}

.store__products--articles article:hover  input[value="COMPRAR"]{  
    visibility:visible;
}
.store__product--to-buy{    
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
/*store pagination*/
.store__pagination{}

/*Product Description*/
.description{
    padding:45px 25px;
    display:grid;
    grid-template-columns: 200px auto 229px;
    grid-template-rows:auto auto;
    grid-gap:20px 20px;
    position:relative;
}
.description__images{
    grid-column:1 / 3;
    grid-row:1 / 2;
    display:grid;
    grid-template-columns:219px auto ;
    grid-template-rows:auto auto;
    grid-gap:0px 10px;
}
/*
.description__carroussel
.description__image--master*/

.description__carroussel{
    padding:100px 50px 0px 50px;
}

.description__cost{
    text-align:center;
    padding:0px 1%;
    position: absolute;
    top: 50%;    
    grid-column:3 / 4;
    grid-row:1 / 2;
    grid-gap:10px 0px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
}
.description__cost--values{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.description__cost--label{
    font-weight:bold;
}
.description__cost--button-count{
    grid-column:1 / 2;
    grid-row:2 / 3;
    display:grid;
    grid-template-columns:23px 30px;
    grid-template-rows:16px 16px;
    grid-gap:1px 3px;
}
.description__cost--button-count input[type="number"]{
    text-align:center;
    padding-left:0px;
    width:35px;
    height:86%;
    grid-column:1 / 2;
    grid-row:1 / 3;
}
.description__cost--button-plus{
    background-color:#fff;
    border:2px solid #55b2c8;
    color:#55b2c8;    
    height:100%;
    grid-column:2 / 3;
    grid-row:1 / 2;
}
.description__cost--button-minus{
    background-color:#fff;
    border:2px solid #55b2c8;
    color:#55b2c8;    
    height:100%;
    grid-column:2 / 3;
    grid-row:2 / 3;
}
.description__cost--button-buy{
    grid-column:2 / 3;
    grid-row:2 / 3;
}

.description__information{
    grid-column:2 / 3;
    grid-row:2 / 3;
}
.description__image--master img{
    width:100%;    
    border-radius: 5px;
    outline-style: solid;
    outline-color: #757575;
    outline-width: 0.1px;
    outline-offset: 6px;
}
.description__image--master figcaption{
    text-align:center;
    padding:25px 0px;;
    font-size:36px;
    font-weight:bold;
    color:#528e9d;
}

.description__information--measures,
.description__information--techniques{
    padding:0px 20px;
}
.description__information--measures label,
.description__information--techniques label{
    font-weight:bold;
}
.description__information h2,
.description__information h3{
    margin:20px 0px;
}
.description__cost--label{
    font-weight:bold;
}
.description__information--title{
    color:#55b2c8;  
}
/*Store Car*/
.car{
    margin:0px auto;
    padding:20px 30px;
    grid-template-rows: auto auto auto auto;
}
.car__title{
    padding:20px 0px;
    grid-row: 1 / 2;
    color:#55b2c8;
}
.car__table{
    padding:10px 20px;
    grid-row: 2 / 3;
}
.car__table th{
    color:#528e9d;
}

.car__table p{
    padding: 10px 30px 0px 0px;
    float:right;
    text-align:justify;
}
.car__table tbody tr {
    border-bottom:1px solid gray;
}
.button-count{
    margin:0px 30px;
}

.car__to-buy{
    margin:15px 0px;
}
.car__to-buy  article{
    text-align:right;
    grid-row: 3 / 4;
}
.car__buy-more{
    text-align:right;
    grid-row: 4 /5;
}
.car__payments{
    padding:30px 0px;
    margin:25px 0px;
    text-align:center;
    grid-row: 5 / 6;
    border-top:0.2px solid gray;
    border-bottom:0.2px solid gray;
}

.car__payments figcaption{
    font-weight:bold;
}



.button-count{
    grid-column:1 / 2;
    grid-row:2 / 3;
    display:grid;
    grid-template-columns:23px 30px;
    grid-template-rows:16px 16px;
    grid-gap:1px 3px;
}
.button-count input[type="number"]{
    text-align:center;
    padding-left:0px;
    width:35px;
    height:86%;
    grid-column:1 / 2;
    grid-row:1 / 3;
}
.button-plus{
    background-color:#fff;
    border:2px solid #55b2c8;
    color:#55b2c8;    
    height:100%;
    grid-column:2 / 3;
    grid-row:1 / 2;
}
.button-minus{
    background-color:#fff;
    border:2px solid #55b2c8;
    color:#55b2c8;    
    height:100%;
    grid-column:2 / 3;
    grid-row:2 / 3;
}
/*Store Form*/
.form-store{
    padding:26px 12px;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
    grid-gap:10px 20px;
    justify-content:space-evenly;
}
.form-store__title{
    color:#55b2c8; 
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.form-store__cliente,
.form-store__address{
    margin:20px 0px;
    padding:5px 2px;    
    border-radius:5px;
}
.form-store__cliente legend,
.form-store__address legend{
    font-weight:bold;
}
.form-store__cliente input[type=text],
.form-store__cliente input[type=email],
.form-store__cliente input[type=phone],
.form-store__address input[type=text],
.form-store__address input[type=number]{   
    padding:0px 10px; 
    width:90%;
    padding:0px 0px;
    height:28px;
}
.form-store__cliente input[type=text]::placeholder,
.form-store__cliente input[type=email]::placeholder,
.form-store__cliente input[type=phone]::placeholder,
.form-store__address input[type=text]::placeholder,
.form-store__address input[type=number]::placeholder{
    padding:0px 10px;
    color:#55b2c8; 
}
.form-store__cliente--data{
    padding:0px 4px 0px 0px;;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto;
    grid-gap:5px 7px;
}
#client__name{
     border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:1 / 2;
    grid-row:1 / 2;
}
#client__email{
     border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:1 / 2;
    grid-row:2 / 3;
}
#client__phone{
     border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:1 / 2;
    grid-row:3 / 4;
}

.form-store__address--data{
    padding:0px 4px 0px 0px;;
    display:grid;
    grid-template-columns:125px 125px 125px 125px;
    grid-template-rows: auto auto auto;
    grid-gap:3px 7px;
}
#address__street{
    border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:1 / 5;
    grid-row:1 / 2;
}
#address__number{
    border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:1 / 2;
    grid-row:2 / 3;
}
#address__neighborhood{
    border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:2 / 5;
    grid-row:2 / 3;
}
#address__city{
    border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:1 / 4;
    grid-row:3 / 4;
}
#address__uf{
    border:0.5px solid #b5afaf;
    border-radius:3px;
    width:100%;
    grid-column:4 / 5;
    grid-row:3 / 4;
}
.form-store__subscription{
    padding:0px 50px;
    border-right:0.02px solid #b5afaf;
    grid-column: 1 / 2;
    grid-row:2 / 3;
}

.form-store__resume{
    grid-column:2 / 3;
    grid-row:2 / 3;
}
.form-store__form--button{    
    text-align:right;
}
.form-store__notify{
    margin:20px 0px;
    padding:20px 0px;
    text-align:center;
    border:0.02px solid #b5afaf;
}

.form-store__notify li{list-style-type:none;}
/*.form-store__resume--thead tr{
    border-bottom:4px solid #b5afaf;
}
.form-store__resume--tbody tr{
    border-bottom:4px solid #b5afaf;
}*/
.form-store__resume--tbody figure img,
.form-store__resume--tbody figure figcaption{
    display:inline-block;
    padding:0px 0px 0px 0px;
    height:100%;
}
.form-store__resume--tbody figure img{
    border:1px solid #b5afaf;
}
.form-store__resume--tbody figure figcaption{
     vertical-align:35px;
     font-size:20px;
     padding:0px 30px;
}
.form-store__resume--total-container{
    text-align:right;
}

/*Footer*/

.footer {
    background-color: #424242;
    color: #fafafa;
    font-size: 14px;
    width: 100%;
    display: grid;
    grid-template-areas: auto auto auto auto auto;
    grid-column-gap: 10px;
}

.footer__logo {
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.payment__methods {
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer__menu {
    padding: 10px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer__menu ul{
    margin:2px 8px;
}

.footer__menu li {
    list-style-type: none;
}

.footer__menu a {
    color:#b5afaf;
    font-weight:bold;
}

.social__networks {
    padding: 10px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.social__networks img{
    margin:5px 3px;
}

.footer__bottom {
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer h1 {
    font-size: 20px;
}

.developer {
    float: right;
}